<h1 class="mt3">  pIpes <small> ANGULAR</small> </h1>
<HR>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">

          <tr>
            <th>
            VARIABLE  
            </th>
            <th>
              PIPE
            </th>
            <th>
              SALIDA
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>


        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>

        <tr>
          <td>{{nombre}}</td>
          <td>slice:3</td>
          <td>{{nombre | slice:3}}</td>
        </tr>
        
        <tr>
          <td>{{nombre}}</td>
          <td>slice:3</td>
          <td>{{nombre | slice:3}}</td>
        </tr>

        <tr>
          <td>{{arreglo}}</td>
          <td>slice:1:5</td>
          <td>{{arreglo | slice:1:5}}</td>
        </tr>


        <tr>
          <td>{{pipe}}</td>
          <td>Pipe:number</td>
          <td>{{pipe | number}}</td>
        </tr>

        <tr>
          <td>{{pipe}}</td>
          <td>Pipe:number: 1.0-0</td>
          <td>{{pipe | number:'1.0-0'}}</td>
        </tr>

        <tr>
          <td>{{pipe}}</td>
          <td>Pipe:number: 3.0-0</td>
          <td>{{pipe | number:'3.0-0'}}</td>
        </tr>



        <tr>
          <td>{{pipe}}</td>
          <td>Pipe:number: .0-2</td>
          <td>{{pipe | number:'.0-2'}}</td>
        </tr>



        <tr>
          <td>{{porcetaje}}</td>
          <td>porcetaje</td>
          <td>{{porcetaje | percent}}</td>
        </tr>


        <tr>
          <td>{{porcetaje}}</td>
          <td>percent:'2.2-2'</td>
          <td>{{moneda | percent:'2.2-2'}}</td>
        </tr>



        <tr>
          <td>{{moneda}}</td>
          <td>currencyMoney</td>
          <td>{{moneda | currency}}</td>
        </tr>

        

        <tr>
          <td>{{moneda}}</td>
          <td>currency:'EUR'</td>
          <td>{{porcetaje | currency:'EUR'}}</td>
        </tr>


        <tr>
          <td>{{moneda}}</td>
          <td>currency:'CAD':symbol-narrow</td>
          <td>{{porcetaje | currency:'CAD':'symbol-narrow'}}</td>
        </tr>

        <tr>
          <td>{{moneda}}</td>
          <td>currency:'CAD':'symbol':'.0-0'</td>
          <td>{{porcetaje | currency:'CAD':'symbol':'.0-0'}}</td>
        </tr>

        <tr>
          <td>{{valorPromesa}}</td>
          <td>Async</td>
          <td>{{valorPromesa |  async}}</td>
        </tr>


        <h3>
          Slice <small>slice:1:4</small> </h3>
          <hr>
        
       <h3>
         json
       </h3>
       <hr>
       <div class="row mb-5">
        <hr>
        <div class="col">
          
        </div>
       </div>
       <pre>
       {{heroe | json}}
      </pre>
        </tbody>

      </table>

      <h4>
        <ul>
          <li *ngFor="let item of arreglo | slice:5:20">
{{item}}
          </li>
        </ul>
      </h4>

    </div>
  </div>